* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #fb7185 #fb7185;
}

html[lang="ar"] h1, html[lang="fa"] h1, html[lang="he"] h1,
html[lang="ar"] h2, html[lang="fa"] h2, html[lang="he"] h2,
html[lang="ar"] h3, html[lang="fa"] h3, html[lang="he"] h3,
html[lang="ar"] p, html[lang="fa"] p, html[lang="he"] p{
  direction: rtl;
  text-align: right;
}






