---
interface Props {
    content: string;
    textColor: string;
}

const {content, textColor} = Astro.props;
---

<p class={`mt-2 ms-4 text-base ${textColor ? textColor : 'text-rose-900'} dark:text-white`}>{content}</p>
