---
interface Props {
    content: string;
    textColor:string;
}

const {content,textColor} = Astro.props;
---

<h2 class={`my-2 text-xl sm:text-2xl font-semibold ${textColor ? textColor : 'text-rose-950'} dark:text-white`}>{content}</h2>
